{% extends 'pmcircle/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <div class="container">
  <h5  class="head"align="center">P-M Diagram for Circular Columns</h5>

  <p id="detail"align="center">(Based on AASTHO LRFD 8th Edition & ACI 318-14)   </p>
  <h6 class="head mt-0 pt-0">Input Parameters:</h6>
<div class="jumbo">
  <div class="row">
    <div class="col-md">
      <form> -->
        <!-- <div class="form-group">
          <label for=""  class="col-sm-10 head">Design Code</label>
          <div class="col-sm-8">
            <select class="form-control" id="code" align="right">
              <option value="0">AASTHO LRFD</option>
              <option value="1">ACI 318-14</option>
            </select>
          </div>
        </div> -->
        <!-- <div class="form-group">
          <label for="di"  class="col-sm-10 head">Section diameter (in)</label>
          <div class="col-sm-8">
          <input id = "di"  class="form-control"type="float" min="0" oninput="validity.valid||(value='');" name="di" min="0" placeholder="dia (in)" value="30">
        </div>
        </div> -->
        <!-- <div class="form-group">
          <label  class="col-sm-10 head" for="rc">Concrete clear cover (in) <i class="fas fa-info-circle d-print-none" title="cover to tie/spirals"></i></label>
          <div class="col-sm-8">
          <input id = "rc" type="float" class="form-control" min="0" oninput="validity.valid||(value='');" name="rc" placeholder="cover (in)" value="3">
        </div>
        </div> -->
        <!-- <div class="form-group">
          <label  class="col-sm-10 head"for="nb">Number of bars <i class="fas fa-info-circle d-print-none" title="Min. 6 bars recommended"></i></label>
          <div class="col-sm-8">
          <input id = "" type="float" min="0" class="form-control pageCalc" oninput="validity.valid||(value='');" name="nb" value="6">
        </div>
        </div> -->
        <!-- <div class="form-group">
          <label  class="col-sm-10 head"for="">Transverse bar size</label>
          <div class="col-sm-8">
          <select  class="form-control" id="ts" align="right">
            <option value="0">#3</option>
            <option value="1" selected>#4</option>
            <option value="2">#5</option>
            <option value="3">#6</option>
            <option value="4">#7</option>
            <option value="5">#8</option>
            <option value="6">#9</option>
            <option value="7">#10</option>
            <option value="8">#11</option>
            <option value="9">#14</option>
            <option value="10">#18</option>
          </select>
        </div>
          </div> -->
      <!-- </form>
    </div> -->
    <!-- <div class="col-md">
      <form  class="">
        <div class="form-group">
          <label  class="col-sm-6 head"for="">Main Bar Size</label>
          <div class="col-sm-8">
          <select class="form-control"id="bs" align="right">
            <option value="0">#3</option>
            <option value="1">#4</option>
            <option value="2">#5</option>
            <option value="3">#6</option>
            <option value="4">#7</option>
            <option value="5">#8</option>
            <option value="6" selected>#9</option>
            <option value="7">#10</option>
            <option value="8">#11</option>
            <option value="9">#14</option>
            <option value="10">#18</option>
          </select>
        </div>
        </div>
          <div class="form-group">
            <label for="fc" class="col-sm-4 head">f'c (ksi)</label>
            <div class="col-sm-8">
            <input id = "fc"  class="form-control"type="float" min="0" oninput="validity.valid||(value='');" name="fc" value="4.0">
          </div>
          </div>
          <div class="form-group">
            <label for="fy" class="col-sm-4 head">fy (ksi)</label>
            <div class="col-sm-8">
            <input id = "fy" class="form-control" type="float" min="0" oninput="validity.valid||(value='');" name="fy" value="60">
          </div>
          </div>

          <div class="form-group">
            <label for="E" class="col-sm-4 head" >Es (ksi)</label>
            <div class="col-sm-8">
            <input id = "E" class="form-control" type="float" min="0" oninput="validity.valid||(value='');" name="E" value= "29000" >
          </div>
        </div>
          <div class="form-group">
            <label  for="" class="col-sm-10 head">Transverse reinforcement</label>
            <div class="col-sm-8">
            <select  class="form-control" id="tie" align="right">
              <option value="0">Spiral</option>
              <option value="1" selected>Tied/Other</option>
            </select>
          </div>
          </div>
      </form>
    </div> -->
    <!-- <div class="col-md my-auto" id="xSection"> -->
    <!-- </div>
  </div>
</div> -->

<!-- django form -->
 <!-- <div class="jumbo">
  {{ pm_form|crispy }}

</div> -->
<div class="container">
  <h5  class="head"align="center">P-M Diagram for Circular Columns</h5>
  <p id="detail"align="center">(Based on AASTHO LRFD 8th Edition & ACI 318-14)   </p>
  <h6 class="head mt-0 pt-0">Input Parameters:</h6>

<div class="jumbo">

   <form class="" action="" method="">
     <div class="row">
       <div class="col ml-3">
         <div class="form-group">
           {{ pm_form.design_code|as_crispy_field }}
         </div>
         <div class="form-group">
           {{ pm_form.section_dia|as_crispy_field }}
         </div>
         <div class="form-group">
           {{ pm_form.clear_cover|as_crispy_field }}
         </div>
         <div class="form-group">
           {{ pm_form.number_bar|as_crispy_field }}
         </div>
         <div class="form-group">
           {{ pm_form.trans_bar_size|as_crispy_field }}
         </div>
    </div>
    <div class="col ml-3">
      <div class="form-group">
        {{ pm_form.main_bar_size|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ pm_form.f_c|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ pm_form.f_y|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ pm_form.Es|as_crispy_field }}
      </div>
      <div class="form-group">
        {{ pm_form.transv_type|as_crispy_field }}
      </div>

    </div>
    <div class="col-5 mt-5" align="center">
  <div class="my-auto " id="xSection"></div>
  </div>
  </div>
    </form>
<p id="selfrun" class ="d-none">{{ pm_form.instance.id }}</p>

  <!-- <button type="submit" class="btn btn-success">Save</button> -->

</div>

<!-- <div class="" id="xSection"></div> -->

<div id="" align="center" class="mt-2">
<button id ="calculate" type="button" name="button" class="btn btn-primary scrollBot d-print-none" onclick="plotCirPM()">Plot P-M Curve</button>
</div>
<h6 class="text-capitalize pt-3 head ">Calculated Parameters :</h6>
<div  class="container mt-2 border border-primary">
  <!-- <h6 class="text-capitalize pt-3 head ">Calculated Parameters</h6> -->
  <div id="one" class="row">
  <div class="col-md-6">
    <form >
        <div class="form-group pt-2">
          <p id="Ag">Gross sectional area, <strong>Ag = <span></span></strong></p>
          <p id="Ig">Gross moment of inertia, <strong>Ig = <span></span></strong></p>
        </div>
    </form>
  </div>

  <div class="col-md-6">
    <form>
        <div class="form-group">
          <strong><p id="beta"></p></strong>
          <p id="As">Total steel area, <strong>As = <span></span></strong></p>
        </div>
    </form>
  </div>
 </div>
</div>

<div class="row">
    <div class="pt-5 mx-auto mt-3" id="chart-area" style=""></div>
  </div>

<div class="">
<div class="" id="inputLoad">
  <h6 class="head mt-3 ">Plot (Pu, Mu) for different load cases in the above chart :</h6>
  <!-- <div class="jumbo"> -->
  <!-- <div class="row"> -->
    <!-- <div class="col"> -->
       <!-- <div class=""> -->
      <table class="table table-bordered table-sm table-hover table-striped">
        <thead>
          <tr id="tableHead02"class="head" >
            <th scope="col-sm-2">Load Case</th>
            <th scope="col-sm-3">Pu (kips)</th>
            <th scope="col-sm-3">Mu (k-ft)</th>
            <!-- <th scope="col-sm-1"><a href="javascript:void(0);"  id="addMore" title="Add Load Case"> <i class="fas fa-plus"></i></a></th> -->
            <!-- <th scope="col-sm-1"></th> -->
          </tr>
        </thead>

        <!-- <tbody id="userData">
          <tr>
            <td>1</td>
            <td><input type="number" name="" value= "0.0" ></td>
            <td><input type="number" name="" value= "0.0" ></td>
            <td><a href='javascript:void(0);' title="Remove Load Case" class='remove'><i class="fas fa-times"></i></a></td>
          </tr>
        </tbody> -->
      </table>

       <div class="row">
         <dt class="col-sm-4"><button type="button" name="button" class="btn btn-primary custom mt-2 scrollBot d-print-none" onclick="createLoadCase()">Add Load Case</button></dt>
         <dc class="col-sm-4 max-auto"><button type="button" name="" class="btn btn-primary mt-2 custom d-print-none" onclick="plotLoadCase()">Plot</button></dc>
         <dd class="col-sm-4 max-auto"><button type="button" name="" class="btn btn-warning custom mt-2 d-print-none" onclick="removeLoadCase()">Remove Load Case</button></dd>
       </div>
<!-- </div> -->
<!--  testing begins-->
<div class="">
  <form class="" action="#" method="post">
    {% csrf_token %}
    {{ pm_load.management_form }}
<table class="table table-bordered table-sm table-hover table-striped">
 <thead>
   <tr id="tableHead03"class="head" >
     <th scope="col-sm-2">Load Case</th>
     <th scope="col-sm-3">Pu (kips)</th>
     <th scope="col-sm-3">Mu (k-ft)</th>
   </tr>
 </thead>

 <tbody id="userData2">
   <div class="">


   <tr>
     {% for form in pm_load %}
     <div class="" id="item-{{ forloop.counter0 }}">
       {{ form.id }}
     <td>1</td>
     <td>{{ form.pu}}</td>
     <td>{{ form.mu}}</td>
      </div>
      {% endfor %}
   </tr>
   </div>
 </tbody>
</table>

  </form>
</div>

<div class="container-fluid">
<div class="row">

<!-- <script type="text/html" id="item-template">
  <div class="form-row" id="item-__prefix__">
    <div class="col-lg">
      {{ pm_load.empty_form }}
    </div>

  </div>
</script> -->
<!-- <p id="item-template" class ="d-none">{{ pm_load.empty_form }}</p> -->
<div class="d-none" id="item-template">
  <table>
    {{ pm_load.empty_form }}
  </table>

</div>


  <div class="col-2">
    <p>Load Case</p>
    <p>1</p>
  </div>

<div class="col">

<!-- <form class="" action="" method="post">
{% csrf_token %}
{{ pm_load.management_form }}
<div class="form-row" id="items-form-container">
    {% for form in pm_load %}
        <div class="form-row " id="item-{{ forloop.counter0 }}">
            {{ form.id }}
            <!-- {{ form.as_table }} -->
            <!-- <div class="form-group form-inline col-sm">
              {{ form.pu}}
            </div>
            <div class="form-group form-inline col-sm">
              {{ form.mu}}
            </div>
        </div>
    {% endfor %}
</div> --> -->
<!-- </form> -->

<a href="#" id="add-item-button" class="btn btn-primary custom mt-2 scrollBot d-print-none add-item">Add Load Case</a>
<a href="#" id="remove-item-button" class="btn btn-warning custom mt-2 d-print-none remove-item">Remove Load Case</a>
<!-- https://stackoverflow.com/questions/21260987/add-a-dynamic-form-to-a-django-formset-using-javascript-in-a-right-way -->
</div>
</div>
</div>
</div>
</div>
</div>


<!-- <input type="number" name="pmcloadcase_set-__prefix__-pu" value="0.0" step="0.01" id="id_pmcloadcase_set-__prefix__-pu">
<input type="number" name="pmcloadcase_set-__prefix__-mu" value="0.0" step="0.01" id="id_pmcloadcase_set-__prefix__-mu">
<input type="hidden" name="pmcloadcase_set-__prefix__-id" id="id_pmcloadcase_set-__prefix__-id">
<input type="hidden" name="pmcloadcase_set-__prefix__-pmcircleinput" id="id_pmcloadcase_set-__prefix__-pmcircleinput">"
{% endblock %} -->
